@{
    ViewBag.Title = "Nasa Images Home Page";
}

<div class="jumbotron">
    <h1>Mars Rover Images</h1>
    <p class="lead">Website to view and download Rover Images for a give date</p>
    <p><a href="https://watchguardvideo.com" class="btn btn-primary btn-lg">Watch Guard  &raquo;</a></p>
</div>

